BOT_TOKEN=8448367676:AAFSFYQAwb6vLcSj1GkDqxrYwx0vsayfQck
CRYPTO_PAY_TOKEN=607964:AA802op9FGK4cgT6ucCEPaJtG7tLb1q1OTy
PIXVERIFY_API_KEY=pk_live_ed6979e455bdaacdcb786978901670d745581fa14a809e8f
ADMIN_ID=8278238550
PIXVERIFY_BASE=https://pixverify.shop/api/v1
CRYPTO_PAY_BASE=https://pay.crypt.bot/api
SUPPORTED_ASSETS=USDT,TON,BTC,ETH,BNB,TRX
PRICE_VIP=3.50
PRICE_NORMAL=2.50
